<div class="row m-0 mt-4">
  <div class="col-12 mt-5 mb-5">
    <div class="mx-auto col-md-11 col-lg-8 col-xl-8">
      <div class="row">
        <div class="col-md-6 col-sm-12 forgot-carosal pt-5 pb-2 d-none d-sm-none d-md-block d-lg-block">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active cursor-pointer"></li>
              <li data-target="#demo" data-slide-to="1" class="cursor-pointer"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="text-center">
                  <img src="../../../assets/images/loginImage1.png" alt="img1">
                </div>
                <div class="carousel-text mb-5 ml-5">
                  <h3>Order Management</h3>
                  <ul class="carousel-list mb-5">
                    <li>Search Products and Suppliers</li>
                    <li>Buy and Sell</li>
                    <li>Track your Order</li>
                  </ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="text-center">
                  <img src="../../../assets/images/loginImage2.png" alt="img2">
                </div>
                <div class="carousel-text mb-5 ml-5">
                  <h3>Promotions</h3>
                  <ul class="carousel-list mb-5">
                    <li>Deals</li>
                    <li>CashBack</li>
                    <li>Promo Code</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 forgot-form pt-3">
          <div class="col-md-11 col-sm-12 mx-auto p-0 text-center">
            <label class="forgot-text">{{title}}</label>
            <div class="d-flex" style="justify-content: center;">
              <div class="a m-1"></div>
              <div class="b m-1"></div>
            </div>
            <div class="col-12 p-0 m-0">
              <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                <div class="form-group text-left">
                  <app-input [inputValue]="forgotPasswordForm.value.email" formControlName="email"
                    [control]="forgotPasswordForm.get('email')" [title]="'Email'"
                    [isFormSubmit]="isSubmitForgotPasswordForm" [required]="'required'">
                  </app-input>
                </div>
                <div class="col-12 p-2 m-0">
                  <button type="submit" class="form-group btn btn-block forgot-submit">Reset</button>
                </div>
              </form>
            </div>

            <div class="col-12">
              <small class="col-12 p-0 m-0">
                Already have an account ?
                <a [routerLink]="['/login']" mdx-tag="mdx_a_termsOfService" class="f-color">Login here</a>
              </small>
            </div>

            <div class="col-12 text-center support-contact pb-2">For any assistance please contact support 7337898880
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [modalTitle]="modalTitle" (closeModal)="closeModal()" [size]="'modal-md'" [modalId]="forgotPasswordModalId">
  <div class="col-12 text-primary font-weight-bold text-justify card p-3 bg-light">
    {{responseData}}
  </div>
</app-modal>
