<div class="col-12 pt-3 pb-3 footer">
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">
    <div class="col-12 text-white text-center available-text">Available On</div>
    <div class="row">
      <div class="col-6 p-2">
        <a href="https://play.google.com/store/apps/details?id=com.ionicframework.mobilemfp973648&hl=en_US"
          target="_blank">
          <img src="../../../assets/images/googleplay.png" class="float-right img-responsive" width="154px"
            alt="app-download" />
        </a>
      </div>
      <div class="col-6 p-2">
        <a href="https://apps.apple.com/in/app/medibox-b2b-pharma-marketplace/id1422981007" target="_blank">
          <img src="../../../assets/images/app store.jpg" class="float-left img-responsive" width="154px"
            alt="app-download" />
        </a>
      </div>
    </div>
    <hr class="bg-white m-4">
    <div class="col-12">
      <p class="medi_privacy">{{year}} © Medibox Digital Solutions (P) Ltd. All Rights Reserved. |
        <a [routerLink]="['/privacyPolicy']" mdx-tag="mdx_a_privacyPolicy" class="f-color">Privacy Policy</a> |
        <a [routerLink]="['/termsOfService']" mdx-tag="mdx_a_termsOfService" class="f-color">Terms Of Service</a>
      </p>
    </div>
  </div>
</div>
