.footer {
  background-color: #104080 !important;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.medi_privacy {
  color: #ffffff;
  font-family: calibri;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.available-text {
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
