<nav class="navbar navbar-expand-lg navbar-light bg-light primary-navbar fixed-top medibox-navbar">
  <a class="navbar-brand" [routerLink]="['/']">
    <img class="logo" src="../../../assets/images/case-stats.jpg" />
  </a>

  <button class="navbar-toggler primary-navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    id="headerNavigation" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse primary-navbar-content" id="navbarSupportedContent">
    <div class="col-12 text-left admin"><label>COVID-19 Stats</label></div>
  </div>
</nav>
