.medibox-navbar {
  max-width: 1500px;
  margin: 0 auto !important;
}

.active {
  background: #ffffff;
}

.navbar-brand {
  padding: 0px;
}

.primary-navbar {
  box-shadow: 0px 2px 5px rgba(3, 72, 73, 0.7);
  transform: translate3d(0, 0, 0);
  border: 0px transparent !important;
  background-color: #0e1013 !important;
  padding: 0px;
}

.primary-navbar-content {
  place-content: flex-end;
}

.nav-link {
  border-bottom: 1px solid #ffffff;
}

.nav-link-text {
  color: #07A6AA !important;
  font-weight: bold;
  font-size: 14px;
}

.nav-link-text:hover {
  background: #07A6AA !important;
  color: white !important;
}

.active {
  background: #07A6AA !important;
  color: white !important;
}

.login-icon {
  font-size: 20px;
  padding: 0 10px;
}

.mobile-icon {
  font-size: 20px;
  padding: 0 10px;
}

.sign-out {
  padding: 0 5px;
  font-size: 20px;
}

@media screen and (min-width: 992px) {
  .nav-link-text {
    padding: 20px;
    margin: -13px 0;
  }
}

.logo {
  vertical-align: middle;
  background: #fff;
  height: 60px;
}

.primary-navbar-toggler {
  padding: 4px 7px !important;
  font-size: 1.0rem !important;
  margin-right: 10px !important;
}

.primary-navbar-toggler:focus {
  outline: none;
}

.customers-text {
  font-size: 15.5px;
}

.drop {
  right: 30px;
  left: auto;
  top: 40px;
}

.drop-down {
  border: solid 1px lightgray;
  padding: 6px;
}

@media only screen and (min-width:992px) {
  .profile-details {
    right: 13px;
    left: auto;
  }
}

.profile-details {
  position: absolute !important;
  top: 15px;
  right: 14px !important;
  border-radius: 4px !important;
  padding: 2px !important;
  min-width: 170px !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.my-profile-dropdown {
  padding: 3px !important;
}

.login-user {
  padding: 10px 10px 11px 10px !important;
}

.user-profile-no-image {
  border: 1px solid;
  border-radius: 50%;
  padding: 9px 15px;
  margin-right: 10px !important;
}

.user-profile-image {
  font-size: 10px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 5px !important;
}

.admin {
  position: fixed;
  top: 15px;
  right: 0;
  left: 50px;
  color: #fff;
  font-size: 20px !important;
  z-index: -999;
}

@media screen and (max-width: 992px) {
  .profile-details {
    top: 0;
    right: 0 !important;
    left: 0 !important;
  }
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
