.mdx-th {
  min-width: 120px;
}

.count {
  font-size: 14px;
  color: #104080;
}

.v-middle {
  vertical-align: middle;
}

.export {
  width: 35px;
  margin-bottom: 5px;
  cursor: pointer;
}

.total {
  position: absolute;
  bottom: 0;
  right: 40px;
}

.verify {
  width: 10px;
}

.verify-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
