  <div class="deal-ends">
    <label class="deal-ends-label">Deal Ends In:
      <span *ngIf="record?.dealValidity?.end && !(record?.percentage >= 100)">{{record?.dealValidity?.end}}</span>
      <span class="deal-closed" *ngIf="record?.percentage >= 100">Closed</span>
    </label>
  </div>

  <div class="slider_new">
    <div class="deal-img-block">
      <div class="short-expiry">Near Expiry</div>
      <img *ngIf="record?.image && record?.image?.icon" (click)="gotoDealDetails(record)" src="{{record?.image?.icon}}"
        alt="medibox">
      <img *ngIf="!record?.image || !record?.image?.icon" (click)="gotoDealDetails(record)"
        src="../../../assets/img/products/no_image_product.jpg" alt="medibox" class="no-img">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center deal-title-block">
      <span class="deal-title">{{record?.product?.name | ellipsisPipe:10}}</span>
    </div>
    <div class="row p-0 m-0 deal-scheme-block">
      <div [ngClass]="isLoggedIn ? 'col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0 m-0' : 'col-xs-6 col-sm-6 col-md-6
            col-lg-6 col-xl-6 p-0 m-0'">
        <p class="deal-property">MRP</p>
        <p class="deal-property-value">{{record?.product?.mrp | currency:'&#8377;'}}</p>
      </div>

      <div *ngIf="isLoggedIn" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0 m-0">
        <p *ngIf="!record?.regularOrder" class="deal-property">RATE</p>
        <p *ngIf="record?.regularOrder" class="deal-property">PTR</p>
        <p class="deal-property-value">{{record?.product?.ptr | currency:'&#8377;'}}</p>
      </div>

      <div
        ng-class="isLoggedIn ? 'col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0 m-0' : 'col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0 m-0'">
        <p *ngIf="!record?.regularOrder" class="deal-property">SCHEME</p>
        <p *ngIf="record?.regularOrder" class="deal-property">DEAL</p>
        <p class="deal-property-value text-danger">
          {{record?.product?.scheme | ellipsisPipe:10}}</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 scheme-type-block">
      <div [formGroup]="dealSchemeForm">
        <app-select *ngIf="record?.product?.dealSchemes.length > 1" [options]="record?.options"
          [inputValue]="dealSchemeForm.value.dealScheme" formControlName="dealScheme"
          [control]="dealSchemeForm.controls.dealScheme">
        </app-select>
      </div>

      <label class="scheme-type"
        *ngIf="record?.product?.dealSchemes.length === 1">{{record?.product?.dealSchemes[0].scheme}}</label>
    </div>
    <div class="buy-btn-block">
      <button class="buy-btn" ng-click="gotoLogin()">Log in to buy</button>
    </div>
  </div>
