<div class="col-12 privacy-page p-0 m-0">
  <div class="col-12">
    <div class="col-12 panel panel-default p-3 mt-5 mb-5">
      <div class="panel-heading">
        <h3>Terms Of Service</h3>
      </div>
      <div class="panel-body mt-3">
        <p>
          <title></title>
        </p>
        <p></p>
        <p>
          <title></title>
        </p>
        <p>These Terms of Use (“
          <b>Terms</b>”) apply to a users’ (“
          <b>User/Your</b>”) access to, and use of, the website
          <a href="http://www.medibox.in">www.medibox.in</a> (the “
          <b>Website</b>”) and the mobile application (the “
          <b>Application</b>”). The Website and Application are operated by Medibox Digital Solutions Private Limited, and its
          subsidiaries, licensees, and affiliated companies (collectively, “
          <b>Medibox</b>/
          <b>We</b>”).</p>
        <p>As a condition of using the Website and/or Application and the services provided therein (“
          <b>Services</b>”), you agree to be bound by these Terms. By using or accessing the Website and/or Application and/or
          the Services, you agree to these Terms, as may be updated from time to time. If you do not agree to these Terms,
          do not use this Website and/or Application. Because these Terms are a legal contract between you and Medibox, it
          is important that you review the Terms carefully before accessing or using the Website and/or Application.These
          Terms are not intended to alter in any way or limit the terms or conditions of any other agreement that you may
          have with Medibox, including without limitation the privacy policy (“
          <b>Privacy Policy</b>”).</p>
        <ol class="collections">
          <li>
            <b>USER ACCOUNT</b>
            <ol>
              <li>In order to use the Website and/or Application, you are required to provide various information about yourself
                including your name, email address and other personal information. You agree that any information you provide
                to Medibox on the Website and/or Application will always be accurate, correct and up to date. You shall not
                impersonate someone else or provide account information, an email address or any other information that is
                not your own.</li>
            </ol>
          </li>
          <li>
            <b>OWNERSHIP OF THE WEBSITE/APPLICATION</b>
            <ol>
              <li>The Website and Application contains content owned or licensed by Medibox (“
                <b>Medibox Content</b>”). Medibox owns and retains all rights in the Medibox Content. You will not remove, alter
                or conceal any copyright, trademark, service mark or other proprietary rights notices incorporated in or
                accompanying the Medibox Content and you will not reproduce, modify, adapt, prepare derivative works based
                on, perform, display, publish, distribute, transmit, broadcast, sell, license or otherwise exploit the Medibox
                Content.</li>
              <li>The Medibox name and logo are trademarks of Medibox, and may not be copied, imitated or used, in whole or in
                part, without the prior written permission of Medibox, except with prior consent. In addition, all custom
                graphics, button icons and scripts are service marks, trademarks and/or trade dress of Medibox, and may not
                be copied, imitated or used, in whole or in part, without prior written permission from Medibox.</li>
            </ol>
          </li>
          <li>
            <b>USE OF THE WEBSITE/APPLICATION AND CONDUCT</b>
            <ol>
              <li>Use of the Website and/or Application
                <ol>
                  <li>You may use the Website and/or Application for lawful purposes only. You shall not post or transmit through
                    the Website and/or Application any material which violates or infringes the rights of others, or which
                    is threatening, abusive, defamatory, libellous, invasive of privacy or publicity rights, vulgar, obscene,
                    profane or otherwise objectionable, contains injurious formulas, recipes, or instructions, which encourages
                    conduct that would constitute a criminal offence, give rise to civil liability or otherwise violate any
                    law.</li>
                  <li>You agree not to engage in any of the following prohibited activities: (i) copying, distributing, or disclosing
                    any part of the Website and/or Application in any medium; (ii) transmitting spam, chain letters, or other
                    unsolicited email; (iii) attempting to interfere with, compromise the system integrity or security or
                    decipher any transmissions to or from the servers running the Website and/or Application; (iv) taking
                    any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large
                    load on our infrastructure; (v) uploading invalid data, viruses, worms, or other software agents through
                    the Website and/or Application; (vi) collecting or harvesting any personally identifiable information,
                    including account names, from the Website and/or Application; (vii) using the Website and/or Application
                    for any commercial purposes without having all necessary rights and licenses to the User Content; (viii)
                    impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting
                    fraud, hiding or attempting to hide your identity; (ix) interfering with the proper working of the Website
                    and/or Application; (x) accessing any content on the Website and/or Application through any technology
                    or means other than those capabilities provided by the Website and/or Application; or (xi) bypassing
                    the measures we may use to prevent or restrict access to the Website and/or Application, including without
                    limitation features that prevent or restrict use or copying of any content or enforce limitations on
                    use of the Website and/or Application or the content therein.</li>
                </ol>
              </li>
              <li>User Content Guidelines:
                <ol>
                  <li>You are solely responsible for your conduct and any data, text, information, images, links and other content
                    or materials that you submit, post or display on or via the Website and/or Application (“
                    <b>User Content</b>”). Medibox shall have no liability for conduct in relation to your use of our Website.
                    Violations of these Terms may result in legal consequences prescribed by all applicable laws of India.</li>
                  <li>Medibox has the right (but not the obligation) in its sole discretion to remove any User Content that is
                    stored via the Website and/or Application. Medibox takes no responsibility and assumes no liability for
                    any User Content that you or any other User or third party creates, stores, shares, posts or sends through
                    the Website and/or Application. You shall be solely responsible for your User Content and the consequences
                    of posting, publishing it, or sharing it and you agree that we are only acting as a passive conduit for
                    your online distribution and publication of your User Content. If your Content violates these Terms,
                    you shall bear legal responsibility for that content.</li>
                  <li>You agree not to post, store, transmit, create or share any User Content that: (i) may create a risk of
                    harm, loss, physical or mental injury, emotional distress, death, disability,disfigurement, or physical
                    or mental illness to you, to any other person, or to any animal; (ii) may create a risk of any other
                    loss or damage to any person or property; (iii) seeks to harm or exploit children by exposing them to
                    inappropriate content, asking for personally identifiable details or otherwise; (iv) may constitute or
                    contribute to a crime or tort; (v) contains any information or content that we deem to be unlawful, harmful,
                    abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity
                    rights, harassing, humiliating to other people (publicly or otherwise), libellous, threatening, profane,
                    or otherwise objectionable; (vi) contains any information or content that is illegal (including, without
                    limitation, the disclosure of insider information under securities law or of another party’s trade secrets);
                    or (vii) contains any information or content that you do not have a right to make available under any
                    law or under contractual or fiduciary relationships. You agree that any User Content that you create,store,
                    or share does not and will not violate third-party rights of any kind, including without limitation any
                    Intellectual Property Rights (as defined below) or rights of privacy. Medibox reserves the right, but
                    is not obligated, to reject and/or remove any User Content that Medibox believes, in its sole discretion,
                    violates these provisions. For the purposes of these Terms, “Intellectual Property Rights” means all
                    patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade
                    dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as
                    may now exist or hereafter come into existence, and all Website therefore and registrations, renewals
                    and extensions thereof, under the laws of any state, country, territory or other jurisdiction.</li>
                </ol>
              </li>
              <li>In connection with your User Content, you affirm, represent and warrant the following:
                <ol>
                  <li>Your User Content and your use thereof as contemplated by these Terms and the Website and/or Application
                    will not violate any law or infringe any rights of any third party, including but not limited to any
                    Intellectual Property Rights or privacy rights.</li>
                  <li>To the extent that you use the Website and/or Application for any commercial purpose and your User Content
                    contains any copyrighted material that is not your original work or in which you do not otherwise own
                    the copyright, you have obtained all rights, licenses, consents, and permissions necessary in order to
                    use that copyrighted material in connection with the creation and/or dissemination of that User Content
                    using the Website and/or Application.</li>
                  <li>Medibox may exercise the rights to your User Content granted under these Terms without liability for payment
                    of any guild fees, residuals, payments, fees, or royalties payable under any collective bargaining agreement
                    or otherwise.</li>
                  <li>Medibox takes no responsibility and assumes no liability for any User Content that you or any other User
                    or third party creates, stores, shares, posts, sends or otherwise makes available through the Website
                    and/or Application, whether directly or indirectly. You shall be solely responsible for your User Content
                    and the consequences of posting, publishing it, or sharing it and you agree that Medibox is only acting
                    a passive conduit for the distribution and publication of your User Content. If your Content violates
                    these Terms, you shall bear legal responsibility for that content.</li>
                </ol>
              </li>
              <li>You agree that Medibox is not responsible for, and does not endorse, User Content posted within the Website
                and/or Application. Medibox does not have any obligation to pre-screen, monitor, edit, or remove any User
                Content. If your User Content violates these Terms, you shall be solely responsible for any legal consequences
                with respect to such User Content.</li>
              <li>Medibox reserves the right to remove any User Content from the Website and/or Application for any reason, without
                prior notice. User Content removed from the Website and/or Application may continue to be stored by Medibox,
                including, without limitation, in order to comply with certain legal obligations, but may not be retrievable
                without a valid court order. Medibox will not be liable to you for any modification, suspension, or discontinuation
                of the Website and/or Application, or the loss of any User Content.</li>
            </ol>
          </li>
          <li>
            <b>RIGHTS TO USER CONTENT</b>
            <ol>
              <li>If you share your User Content with Medibox or link your User Content to Medibox on a third party service,
                you expressly grant,and you represent and warrant that you have all rights necessary to grant, to Medibox
                a royalty-free, sub licensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to
                use, reproduce, modify, publish, list information regarding, edit, translate, distribute, syndicate, publicly
                perform, publicly display, and make derivative works of all such User Content and your name, voice, and/or
                likeness as contained in your User Content, in whole or in part, and in any form, media or technology,whether
                now known or hereafter developed, for use in connection with the Website and/or Application and Medibox’s
                (and its successors’ and affiliates’) business, including without imitation for promoting and redistributing
                part or all of our Website and/or Application (and derivative works thereof) in any media formats and through
                any media channels.</li>
            </ol>
          </li>
          <li>
            <b>PRIVACY AND SECURITY</b>
            <ol>
              <li>You understand that by using the Website and/or Application you consent to the collection, use and disclosure
                of your personally identifiable information and aggregate data as set forth in our Privacy Policy, and to
                have your personally identifiable information collected, used, processed and transferred to such service
                providers or affiliates as detailed under the thereunder.</li>
              <li>You understand that Medibox cannot guarantee that unauthorized third parties will never be able to defeat our
                security measures or use your personal information for improper purposes. You acknowledge that you provide
                your personal information at your own risk.</li>
            </ol>
          </li>
          <li>
            <b>DISCLAIMERS, EXCEPTIONS AND LIMITATIONS</b>
            <ol>
              <li>The Website and/or Application is a platform through which certain retailers and pharmacies (“Merchants”) advertise
                products and make available offerings. The Merchant is solely responsible to you for the care and quality
                of the goods and services it provides. You acknowledge that images on the Website and/or Application are
                merely indicative, and the actual service may vary.</li>
              <li>You acknowledge and agree that the Website and/or Application is merely a platform that facilitates (i) Merchants
                to post content and information regarding their products and (ii) a User to browse available products and
                offering. The User understands that all business transactions take place through direct interaction between
                the User and the Merchant, and Medibox is not involved in the same.</li>
              <li>You agree and acknowledge that all commercial/contractual terms are offered to you by Merchants and agreed
                to between you and Merchant(s) alone. Medibox does not exercise any control nor does it determine or advise
                or in any way involve itself in the offering or acceptance of such commercial/contractual terms between you
                and the Merchant(s).</li>
              <li>You agree and acknowledge that all commercial/contractual terms are offered to you by Merchants and agreed
                to between you and Merchant(s) alone. Medibox does not exercise any control nor does it determine or advise
                or in any way involve itself in the offering or acceptance of such commercial/contractual terms between you
                and the Merchant(s).</li>
              <li>The pricing information and other information provided on the Website and/or Application is solely informational
                in nature, and Medibox does not make any warranty or guarantee with respect to the same.</li>
              <li>Medibox does not make any representation or warranty as to the quality or value of the products offered on
                the Website and/or Application. Medibox does not implicitly or explicitly support or endorse any Merchants
                and/or products on the Website and/or Application, and Medibox accepts no liability for any errors or omissions,
                whether on behalf of itself or third parties.</li>
              <li>Medibox shall have no obligation with respect to the services performed by the Merchants, or any side effects
                of such services, and you acknowledge that your sole remedy shall be to proceed against the Merchant in such
                case.</li>
              <li>Medibox is not responsible for any non-performance or breach of any contract entered into between you and the
                Merchant(s), and while we may extend our best efforts, at our discretion, to resolve the same, Medibox shall
                not and is not required to mediate or resolve any dispute or disagreement between you and the Merchant(s).</li>
              <li>Medibox shall not have any obligations or liabilities in respect of such contract entered into between you
                and the Merchant(s). Medibox is not responsible for unsatisfactory or delayed performance of a Merchant’s
                obligations, or damages or losses suffered as a result. While Medibox may help the resolution of disputes
                between a Merchant and you on a best efforts basis, you acknowledge that Medibox has no obligation with respect
                to the same.</li>
              <li>The content or information posted on the Website and/or Application is posted by other users and may contain
                errors, and while Medibox reserves the right to correct/remove the same, it is under no obligation to do
                so. You acknowledge that you read and act upon this information at your own risk and shall make additional
                efforts to verify the authenticity of such information.</li>
              <li>Any ratings or recommendations assigned to a Merchant is based on an aggregate of reviews received from users
                of the Website and/or Application, and shall not be construed as an endorsement or advertisement of such
                Merchant. Medibox does not independently verify ratings. A rating is only indicative of the level of satisfaction
                you can expect to find at a particular Merchant’s establishment.</li>
              <li>We may, without prior notice, change the Website and/or Application, stop providing the Website and/or Application
                or features of the Website and/or Application, to you or to Users generally, or create usage limits for the
                Website and/or Application. We may permanently or temporarily terminate or suspend your access to the Website
                and/or Application, or delete any User Content without notice and liability for any reason, including if
                in our sole determination you violate any provision of these Terms,or for no reason. In such event, we shall
                refund the remaining subscription fees paid by you for the Services (if any), as calculated on a pro-rata
                basis, subject to adjustment of cancellation fees, as applicable. Upon termination of your account,you continue
                to be bound by these Terms.</li>
              <li>You acknowledge that there will be occasions when the Website and/or Application may be interrupted, including,
                without limitation, for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications
                links and/or equipment.</li>
              <li>YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DIS SATISFACTION WITH THE WEBSITE AND/OR THE APPLICATION,
                THE SERVICES, OR ANY OTHER GRIEVANCE SHALL BE YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF
                THE WEBSITE AND/OR THE APPLICATION.</li>
            </ol>
          </li>
          <li>
            <b>WARRANTY</b>
            <ol>
              <li>THE WEBSITE AND/OR APPLICATION ARE PROVIDED ON AN “AS IS”BASIS, AND USE OF THE WEBSITE AND/OR APPLICATION IS
                AT THE USER’S RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE WEBSITE AND/OR APPLICATION ARE
                PROVIDED WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED
                WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. NO ADVICE OR INFORMATION,
                WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM MEDIBOX OR THROUGH THE WEBSITE AND/OR APPLICATION WILL CREATE
                ANY WARRANTY NOT EXPRESSLY STATED HEREIN. WITHOUT LIMITING THE FOREGOING, MEDIBOX, ITS SUBSIDIARIES, ITS
                AFFILIATES, AND ITS LICENSOR'S DO NOT WARRANT THAT THE CONTENT FOUND ON THE WEBSITE AND/OR APPLICATION IS
                ACCURATE, RELIABLE OR CORRECT; THAT THE WEBSITE AND/OR APPLICATION WILL MEET YOUR REQUIREMENTS; THAT THE
                WEBSITE AND/OR APPLICATION WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE;
                THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE WEBSITE AND/OR APPLICATION IS FREE OF VIRUSES OR
                OTHER HARMFUL COMPONENTS. ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE WEBSITE AND/OR
                APPLICATION IS DOWNLOADED AT YOUR OWN RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER
                SYSTEM OR MOBILE DEVICE OR LOSS OF DATA THAT RESULTS FROM SUCH DOWNLOAD OR YOUR USE OF THE WEBSITE AND/OR
                APPLICATION. MEDIBOX DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE
                ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE WEBSITE AND/OR THE APPLICATION, OR ANY HYPER LINKED WEBSITE
                OR SERVICE, AND MEDIBOX WILL NOT BE A PARTY TO ORIN ANY WAY MONITOR ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY
                PROVIDERS OF PRODUCTS OR SERVICES.</li>
            </ol>
          </li>
          <li>
            <b>TERMINATION</b>
            <ol>
              <li>Medibox may terminate these Terms for any reason at any time. Medibox reserves the right, in its sole discretion,
                to restrict, suspend, or terminate your access to and use of the Website and/or Application, with or without
                prior notice. Otherwise applicable sections of the Terms shall survive termination. In addition to any termination
                rights, we reserve the right to enforce and prosecute any violations of these Terms.</li>
            </ol>
          </li>
          <li>
            <b>INDEMNIFICATION</b>
            <ol>
              <li>You shall indemnify and hold us harmless from and against any and all losses, damages, settlements, liabilities,
                costs, charges, assessments and expenses, as well as third party claims and causes of action, including,
                without limitation, attorneys’ fees, arising out of any breach by you of any of these Terms, or any use by
                you of the Website and/or Application. You shall provide us with such assistance, without charge, as we may
                request in connection with any such defence, including, without limitation, providing us with such information,
                documents, records and reasonable access to you, as we deem necessary. You shall not settle any third party
                claim or waive any defence without our prior written consent.</li>
            </ol>
          </li>
          <li>
            <b>LIMITATION OF LIABILITY</b>
            <ol>
              <li>IN NO EVENT WILL MEDIBOX OR ITS AFFILIATES OR ANY PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE
                WEBSITE BE LIABLE FOR ANY DIRECT, INCIDENTAL, CONSEQUENTIAL, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES ARISING
                OUT OF YOUR ACCESS, USE, MISUSE, OR INABILITY TO USE THE WEBSITE AND/OR THE APPLICATION, OR ANY LINKED SITES,
                OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE. THESE LIMITATIONS APPLY WHETHER THE ALLEGED LIABILITY IS
                BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF MEDIBOX HAS BEEN ADVISED
                OF THE POSSIBILITY OF SUCH DAMAGE.</li>
            </ol>
          </li>
          <li>
            <b>GOVERNING LAW</b>
            <ol>
              <li>This Agreement shall be governed by the laws of India, and the courts of Bangalore shall have exclusive jurisdiction
                with respect to any dispute arising hereunder.</li>
            </ol>
          </li>
          <li>
            <b>MISCELLANEOUS PROVISIONS</b>
            <ol>
              <li>Survival: In the event of termination or expiration of these Terms for any reason, any provisions of these
                Terms that by their nature should survive termination of these Terms will survive termination of these Terms,
                unless contrary to the pertinent provisions here instated.</li>
              <li>Severability: If any term or provision in these Terms is held to be either illegal or unenforceable, in whole
                or in part, under any enactment or rule of law, such term or provision or part shall to that extent be deemed
                not to form part of these Terms, but the validity and enforceability of the remainder of these Terms shall
                not be affected.</li>
              <li>Unenforceability: If any provision of these Terms or any word, phrase, clause, sentence, or other portion thereof
                should be held to be unenforceable or invalid for any reason, then provided that the essential consideration
                for entering into these Terms on the part of any Party is not unreasonably impaired, such provision or portion
                thereof shall be modified or deleted in such manner as to render these Terms as modified legal and enforceable
                to the maximum extent permitted under applicable laws.</li>
              <li>No Waiver: No delay or omission by either Party hereto to exercise any right or power occurring upon any non
                compliance or default by the other party with respect to any of the terms of these Terms shall impair any
                such right or power or be construed to be a waiver thereof. The terms and conditions of these Terms may be
                waived or amended only in writing or mutual agreement of the Parties. A waiver by either of the Parties hereto
                of any of the covenants, conditions, or agreements to be performed by the other shall not be construed to
                be a waiver of any succeeding breach thereof or of any covenant, condition, or agreement herein contained
                (whether or not the provision is similar).</li>
              <li>Notices: Any notice required or permitted to be given to Medibox hereunder shall be in writing and sent or
                transmitted by (i) registered or certified mail; (ii) hand-delivery; (iii) email; or (iv) internationally
                recognized courier service, provided its receipt is acknowledged and, dispatched or sent or transmitted to
                the address specified Medibox. All notice required to be given under these Terms shall be addressed to:
              </li>
            </ol>
          </li>
        </ol>
        <p style="text-align: center">Medibox Digital Solutions (P) Ltd,</p>
        <p style="text-align: center">Surasa Enclave, No.65, Puttanna Road, Basavangudi Bangalore - 560004, KA, India.</p>
        <p>We may change the Terms or modify any features of the Website and/or Application at any time at our sole discretion.
          The most current version of the Terms can be viewed by clicking on the “Terms and Conditions”. If you continue
          to use the Website and/or Application after changes are posted you will be deemed to have accepted the change.</p>
      </div>
    </div>
  </div>
</div>
