  <ng-container *ngIf="isLoggedIn()">
    <app-business-header>
    </app-business-header>
  </ng-container>
  <div class="col-12 p-0">
    <ngb-carousel *ngIf="bannerSlides">
      <ng-template ngbSlide *ngFor="let item of bannerSlides">
        <img [src]="item.image.web" alt="Random slide" style="width: 100%;">
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="row m-2">
    <div class="col-12 col-sm-10 col-md-5 col-lg-4 col-xl-3 exclusive-block mx-auto p-0 m-0">
      <div class="row p-0 m-0">
        <div class="col p-0 m-0">
          <img src="../../../assets/images/discount.png" class="img-responsive" width="100px">
        </div>
        <div class="col p-1 m-0" style="line-height: 20px;">
          <p class="zindex_exclusive p-0 m-0">Exclusive</p>
          <p class="p-0 m-0 text-right">Deals</p>
          <p class="p-0 m-0 text-sm">Hot deals available only on medibox</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-10 col-md-5 col-lg-4 col-xl-3 exclusive-block mx-auto p-0 m-0">
      <div class="row p-0 m-0">
        <div class="col p-0 m-0">
          <img src="../../../assets/images/discount.png" class="img-responsive" width="100px">
        </div>
        <div class="col p-1 m-0" style="line-height: 20px;">
          <p class="zindex_exclusive p-0 m-0">Near Expiry</p>
          <p class="p-0 m-0 text-right">Deals</p>
          <p class="p-0 m-0 text-sm">Hot deals available only on medibox</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row trendingHead p-2 m-0">
    <p class="head-text p-2 m-2">TRENDING DEALS</p>
  </div>
  <div class="row p-2 m-0">
    <ngb-carousel *ngIf="trendingRecords">
      <ng-template ngbSlide *ngFor="let record of trendingRecords">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2 m-0">
          <app-deal-card [record]="record"></app-deal-card>
        </div>
      </ng-template>
    </ngb-carousel>
    <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-2 m-0" *ngFor="let record of trendingRecords">
      <app-deal-card [record]="record"></app-deal-card>
    </div> -->
  </div>
