.pagination {
  justify-content: center;
}

.disabled {
  cursor: not-allowed;
}

.pageitemlink {
  color: #ffffff !important;
  background-color: #007bff !important;
}

.page-input {
  width: 60px;
  height: 30px;
  color: #2a6496;
  text-align: center;
}

.page-textfileld {
  padding: 3px;
}

.page-item {
  color: #2a6496;
}
