<div class="form-group p-2 m-0">
  <label class="p-0 m-0 w-5">{{title}}<label class="p-0 m-0" appRequired={{required}}></label></label>
  <input type={{type}} [attr.min]="type === 'number' ? 0 : null"
    [attr.pattern]="type === 'number' ? '^\d+(?:\.\d{1,2})?$' : null" class="form-control" placeholder="Enter {{title}}"
    [(ngModel)]="inputValue" (ngModelChange)="valueChange($event)"
    [attr.disabled]="disabled === 'disabled' ? 'disabled' : null"
    appInputRestriction="{{type === 'number' ? 'integersOnly' : ''}}">
  <app-control-message [title]="title" [control]="control" [isFormSubmit]="isFormSubmit"></app-control-message>
</div>
