<div class="row m-0 mt-4">
  <div class="col-12 mt-5 mb-5">
    <div class="mx-auto col-md-11 col-lg-8 col-xl-8">
      <div class="row">
        <div class="col-md-6 col-sm-12 register-carosal pt-5 pb-2 d-none d-sm-none d-md-block d-lg-block">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active cursor-pointer"></li>
              <li data-target="#demo" data-slide-to="1" class="cursor-pointer"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="text-center">
                  <img src="../../../assets/images/loginImage1.png" alt="img1">
                </div>
                <div class="carousel-text mb-5 ml-5">
                  <h3>Order Management</h3>
                  <ul class="carousel-list mb-5">
                    <li>Search Products and Suppliers</li>
                    <li>Buy and Sell</li>
                    <li>Track your Order</li>
                  </ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="text-center">
                  <img src="../../../assets/images/loginImage2.png" alt="img2">
                </div>
                <div class="carousel-text mb-5 ml-5">
                  <h3>Promotions</h3>
                  <ul class="carousel-list mb-5">
                    <li>Deals</li>
                    <li>CashBack</li>
                    <li>Promo Code</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 register-form pt-3">
          <div class="col-md-11 col-sm-12 mx-auto p-0 text-center">
            <label class="register-text">Set Password</label>
            <div class="col-12 p-0 m-0">
              <div class="d-flex" style="justify-content: center;">
                <div class="a m-1"></div>
                <div class="b m-1"></div>
              </div>
            </div>

            <div class="col-12 p-0 m-0">
              <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword()">
                <div class="form-group">
                  <label class="register-label p-0 m-0 font-weight-normal">Password
                    <label appRequired="required" class="p-0 m-0"></label>
                  </label>
                  <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="text-left invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="register-label p-0 m-0 font-weight-normal">Confirm Password
                    <label appRequired="required" class="p-0 m-0"></label>
                  </label>
                  <input type="password" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="text-left invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>

                <button type="submit" class="form-group btn btn-block register-submit">Set Password</button>
              </form>
            </div>

            <div class="col-12 text-center support-contact pb-2">
              For any assistance please contact support 7337898880
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
